.container {
    flex-direction: column;
    margin: auto;
    padding-block-start: 10%;
    padding-block-end: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bg {
    height: 100vh;
    background-color: aliceblue;
}